@model Department

<div>
    <h4>@Model.Name</h4>
    <hr/>
    <dl>
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.EmployeeCount)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.EmployeeCount)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Salary)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Salary)</dd>
    </dl>

    <h5>@Html.DisplayNameFor(model => model.Employees)</h5>
    <ul>
        @foreach (var e in Model.Employees)
        {
            <li>
                @e.Name
                <a asp-action="EmployeeEdit" asp-route-id="@e.Id">Изменить</a> |
                <a asp-action="EmployeeDetails" asp-route-id="@e.Id">Пдробнее</a>
            </li>
        }
    </ul>
</div>
<div>
    <a asp-action="DepartmentEdit" asp-route-id="@Model.Id">Изменить</a> |
    <a asp-action="DepartmentsList">Назад к списку</a>
</div>